.staking_area{
    .section_title{
        h5{
            margin: 8px 0;
        }
        p{
            font-size: 12px;
            color:#94969C;
            line-height: 150%;
            img{
                margin-bottom: -5px;
                margin-right: 8px;
            }
        }
    }
    .staking_cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding: 40px 0;
        margin: 40px 0;
        border-top: 1px solid #242934 ;
        border-bottom: 1px solid #242934 ;
        @media(max-width:992px){
            grid-template-columns: 1fr;
        }
        .single__item{
            border-radius: 16px;
            border: 1px solid var(--Stroke-Main, #242934);
            background: var(--Background-Main, #161D26);
            padding: 24px;
            h3{
                font-weight: 400;
                text-transform: capitalize;
            }
            .staking_service{
                padding:24px 0;
                display: flex;
                gap: 24px;
                .staking_single_service {
                    .token_logos{
                        gap: 8px;
                    }
                    p{
                        display: block;
                        color: #85888E;
                        font-size: 14px;
                        line-height: 142%;
                        margin-bottom: 8px;
                        text-transform: capitalize;
                    }
                    span{
                        font-size: 16px; 
                        font-weight: 400;
                        line-height: 150%;
                    }
                    button{
                        border-radius: 5px;
                        border: 1px solid #17B26A;
                        background: #052E1C; 
                        padding:2px 10px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 142%;
                        color: #17B26A;
                        cursor: text;
                    }
                }
            }
            .comming_btn{
                border-radius: 5px;
                border: 1px solid #004EEB;
                background: #026;
                font-size: 14px;
                display: inline-block;
                font-weight: 500;
                line-height: 142%;
                color: #004EEB;
                padding: 2px 10px;
                text-transform: capitalize;
                cursor: text;
            }
        }
    }
    .active_transactions {
        padding-bottom: 40px;
        span{
            font-size: 24px;
            font-weight: 400;
            line-height: 133%;
        }
        button{
            border-radius: 8px;
            border: 1px solid #242934;
            background: rgba(0, 65, 233, 0.00);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            padding: 10px 14px;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            line-height: 142%;
            transition: all .3s ease-in-out;
            color: #fff;
            img{
                margin-bottom: -5px;
                margin-left: 6px;
                max-width: 20px;
            }
        }
    }
    & .activated_staking_pool {
        padding: 40px 0;
        .site_logo{
            max-width: 46px;
            margin-bottom: 16px;
        }
        p{
            display: inline-block;
            margin-top: 8px;
            color: #94969C;
            font-size: 14px;
            line-height: 142%;
        }
    }
}

.staking_service .token_logos img {
    max-width: 20px;
}

.active_transactions button{
    cursor: text;
}