.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    height: 100%;
    border-right: 1px solid #242934;
    background: #0B0E13;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    transition: var(--default-transition);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: var(--scroll-track-bg-color);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 100vh !important;
        background-color: var(--scroll-thumb-bg-color);
        outline: 1px solid rgba(0, 0, 0, 0.02);
        outline-offset: -1px;
      }
    
      // toggling this class helps to hide/unhide the sidebar
      &.sidebar-show{
        @media(max-width: 768px){
            transform: translateX(0);
        }
      }
    
      // showing icons only on sidebar
      @media(max-width: 1200px){
        width: auto;
        padding: 20px 6px;
      }
    
      // hiding full on small screen
      @media(max-width: 768px){
        width: 100%;
        transform: translateX(-100%);
        padding:20px;
      }
    
      .sidebar-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        padding-bottom: 16px;
        border-bottom: 1px solid #242934;
      }
    
      .sidebar-brand{
        display: flex;
        align-items: center;
        column-gap: 6px;
        img{
          max-width: 174px;
        }
      }
    
      .sidebar-brand-text{
        text-transform: uppercase;
        font-weight: 900;
        color: var(--logo-color);
        margin-bottom: 8px;
    
        @media(max-width: 768px){
            display: inline-block;
        }
      }
    
      .sidebar-close-btn{
        background-color: var(--toggle-btn-bg-color);
        width: 28px;
        height: 28px;
        box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--toggle-btn-icon-color);
        border-radius: 2px;
        transition: var(--default-transition);
        display: none;
    
        @media(max-width: 768px){
            display: inline-flex;
        }
    
        &:hover{
            opacity: 0.8;
        }
      }
    
      .menu-item{
        margin-bottom: 8px;
    
        &:last-child{
            margin-bottom: 0;
        }
    
      }
    
      .menu-link{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 8px;
        padding: 10px 8px;
        border-radius: 12px;
        color: #636465;
        transition: var(--default-transition);
    
        &:hover{
            background-color: var(--side-link-hover-color);
        }
    
        &.active{
            background-color: var(--primary-color);
            color: var(--light-color);
            box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
        }
      }
    
      .mennu-link-icon{
        display: flex;
        align-items: center;
      }
    
      .menu-link-text{
        font-family: var(--font-family-manrope);
        font-weight: 500;
        
      }
    
      .sidebar-body{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .menu-link-icon svg path{
        stroke: #636465;
      }
      
      .menu-item{
        font-size: 16px;
        font-weight: 600;
        color: #636465;
        svg{
          margin-bottom: -3px;
        }
      }
      .menu-item.active{
        border-radius: 8px;
        border: 1px solid #FFF;
        color: #CECFD2;
        background: rgba(0, 0, 0, 0.00);
        .menu-link-icon svg path{
          stroke: #fff;
        }
        .menu-link{
          color: #CECFD2;
        }
      }
    
  .inline_btn{
    border-radius: 8px;
    border: 1px solid #242934;
    background: rgba(0, 0, 0, 0.00);
    padding: 8px;
    display: block;
    color: #23B7EC;
    font-size: 16px;
    line-height: 150%;
    margin-top: 24px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    img{
      margin-bottom: -5px;
      margin-right: 5px;
    }
    &:hover{
      border-color: #fff;
    }
  }
  
}
@media(max-width:767px){
  .sidebar-brand img {
    max-width: 120px !important;
  }
  .inline_btn{
    display: inline-block !important;
    padding: 12px 15px !important;
  }
  .staking_area .active_transactions {
    padding-bottom: 10px !important;
}
}